local all postgres peer
local all all peer
host all all 10.0.0.0/8 md5
host {{ postgres.databases.ckan.name }} {{ postgres.users.ckan.username }} {{ postgres.server.trusted_ip_range }} md5
host {{ postgres.databases.ckan_datastore.name }} {{ postgres.users.ckan.username }} {{ postgres.server.trusted_ip_range }} md5
host {{ postgres.databases.ckan_datastore.name }} {{ postgres.users.ckan_datastore.username }} {{ postgres.server.trusted_ip_range }} md5
host {{ postgres.databases.drupal.name }} {{ postgres.users.drupal.username }} {{ postgres.server.trusted_ip_range }} md5
