-e git+https://github.com/open-data/ckanext-scheming.git#egg=ckanext-scheming
-e git+https://github.com/open-data/ckanext-fluent.git#egg=ckanext-fluent
-e git+https://github.com/vrk-kpa/ckanext-fluentall.git#egg=ckanext-fluentall
redis
pika==0.9.8
requests==2.4.3
rdflib
celery==3.1.16
pyparsing==1.5.6
